<%- include('partials/header') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <!-- Carousel Background -->
    <div class="hero-carousel-wrapper">
      <div class="hero-slide active"
        style="background-image: url('/assets/img/stock/heros/vinea-care-grandmother-holding-baby.jpg');"></div>
      <div class="hero-slide" style="background-image: url('/assets/img/stock/heros/close-up-woman-holding-baby.jpg');">
      </div>
      <div class="hero-slide"
        style="background-image: url('/assets/img/stock/heros/closeup-grandmother-happy-kid.jpg');"></div>
      <div class="hero-slide"
        style="background-image: url('/assets/img/stock/heros/kids-learnign-about-environment.jpg');"></div>
      <div class="hero-slide"
        style="background-image: url('/assets/img/stock/heros/medium-shot-happy-family-outside.jpg');"></div>
      <div class="hero-slide" style="background-image: url('/assets/img/stock/heros/pexels-polesietoys-31196423.jpg');">
      </div>
    </div>

    <!-- Controls -->
    <button class="hero-control prev" aria-label="Previous Slide" type="button">
      <i class="bi bi-chevron-left"></i>
    </button>
    <button class="hero-control next" aria-label="Next Slide" type="button">
      <i class="bi bi-chevron-right"></i>
    </button>

    <!-- Indicators -->
    <div class="hero-indicators">
      <span class="indicator active" data-slide="0"></span>
      <span class="indicator" data-slide="1"></span>
      <span class="indicator" data-slide="2"></span>
      <span class="indicator" data-slide="3"></span>
      <span class="indicator" data-slide="4"></span>
      <span class="indicator" data-slide="5"></span>
    </div>

    <div class="container text-left position-relative hero-content" style="z-index: 3;">
      <h1 data-aos="fade-up">Vinea Care<span style="color:#009970; font-size: 84px;">.</span></h1>
      <br>
      <h2 data-aos="fade-up" class="cta-txt">Offering
        professional care <br>with<strong> compassion </strong> and <strong>excellence</strong></h2>
      <br>
      <a data-aos="fade-up" href="#contact" class="btn-get-started">Call Us</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content justify-content-around">
          <div class="col-lg-6" data-aos="fade-up">
            <h2>Who are we?</h2>
            <h6 class="about-txt">At Vinea Care, our vision is creating a better everyday life for all the people we
              serve. Our mission, which is the anchor of our organisation, is delivering quality care compassionately,
              proudly, and with excellence. <br><br>
              Our well-trained and certified caretakers assist with everyday household, personal, social, and medical
              tasks for your loved ones of all ages. Whether supporting the little ones or ensuring that our seniors
              enjoy their golden-sunset years in great comfort and joy. <br><br>
              We're here to keep your family's life in good order.
              <div class="col-lg-6 pt-4 pt-lg-0 about-cards" data-aos="fade-up">


              </div>
          </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row justify-content-center">
          <div class="text-center">
            <h3 data-aos="zoom-in">Our Services</h3>
          </div>

        </div>
        <br>
        <div class="row">

          <div class="col-lg-3 col-6 text-center">
            <h5 data-aos="zoom-in" data-aos-delay="100">Hospitality</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h5 data-aos="zoom-in" data-aos-delay="200">Communication</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h5 data-aos="zoom-in" data-aos-delay="300">Independence</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <h5 data-aos="zoom-in" data-aos-delay="400">Fulfilment</h5>
          </div>

          <br>
          <br>

        </div>

      </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row ">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content" data-aos="fade-up">
              <h3>Why Choose Vinea care?</h3>
              <p>
                With directors that have a range of experience in nursing and care management; all our operations are
                wisely overseen, guided, and setup to not only meet but also surpass all health regulations. We have
                also
                taken informed measures to combat the risks attributed to the COVID-19 pandemic.</p>
              <div class="text-left">
                <a href="#contact" class="more-btn">Get in touch with us now<i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">

                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-briefcase"></i>
                    <h4>Experienced Management</h4>
                    <p>A dedicated team with years of experience in complex care, domiciliary, learning disabilities,
                      and palliative care.</p>
                  </div>
                </div>

                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="400">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-phone-vibrate"></i>
                    <h4>24/7 on call support</h4>
                    <p>Feel free to dial us up anytime, we'll be on hand and ready to listen.</p>
                  </div>
                </div>

                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="600">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-card-checklist"></i>
                    <h4>Certified Staff</h4>
                    <p>Compassionate, qualified, and dedicated.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="row justify-content-center">

        <div class="col-10 col-lg-6 justify-content-center text-center" data-aos="fade-up">
          <h3>Not sure what kind of support will suit you?</h3> <br>
          <p>Reach out to us and our dedicated team will help you<br>identify how our services can best meet your needs.
          </p>
          <br>
          <a class="cta-btn" href="mailto:admin@vineacare.com">Write To Us</a>
          <a class="cta-btn" href="tel:+447366313213" style="margin-left: 22px;">Give Us A Call</a>
        </div>

      </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-up">
              <h2>Our Services</h2>
              <p>
                At Vinea Care we understand that every individual is different and has specific needs, hence we appoint
                each of our clients to our experienced coordinators to ensure the care plan you receive will meet all
                your needs. We encourage dialogue with our clients and enjoy your reviews on our services. Our dedicated
                team have a 24/7 line to ensure you receive the support you need. Get in touch with us to find out more.
              </p>

            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-md-6 align-items-stretch" data-aos="fade-up" data-aos-delay="250">
                <div class="icon-box">
                  <h4><a href="">Live-in care</a></h4>
                  <p id="left-text">A fully trained carer will be living with you and will support you with your daily
                    needs, keeping you comfortable and independent from the comfort of your own home.<br>They will
                    assist you with; <br>
                    - Daily Personal Care <br> - Specialist/Medical Care <br>
                    - Handling your dietary and nutritional needs <br>
                    - Companionship and <br>
                    - Daily domestic tasks and housekeeping
                  </p>
                </div>
              </div>

              <div class="col-md-6 align-items-stretch" data-aos="fade-up" data-aos-delay="350">
                <div class="icon-box">
                  <h4><a href="">Palliative Care</a></h4>
                  <p id="left-text">
                    Our dedicated caregivers will offer home-based care for individuals with terminal illnesses. We
                    understand that this
                    is a stressful and sensitive time and we hope that our specialist care services and trustworthy
                    support can make a difference.
                    We support our clients, their families, friends, district nurses, and palliative teams through
                    proper Palliative Caregiver selection and
                    a 24/7 access support line.
                  </p>
                </div>
              </div>
              <div class="col-md-6 align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
                <div class="icon-box">
                  <h4><a href="">Respite Care</a></h4>
                  <p id="left-text">
                    Have you been caring for a loved one and are now looking for a temporary helping hand? Vinea care
                    has a team of dedicated caregivers who can give you the helping hand you need.</p>
                </div>
              </div>



              <div class="col-md-6 align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="550">
                <div class="icon-box">
                  <h4><a href="">Visiting Care</a></h4>
                  <p id="left-text">
                    Let us arrange regular visits where our caregivers can handle tasks such as laundry, house
                    cleaning, meal preparation, and running errands.</p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Services Section -->


    <!-- ======= Cta Section ======= -->
    <section id="jobs" class="cta">
      <div class="row justify-content-around">

        <div class="text-center col-lg-6" data-aos="fade-up" data-aos-delay="50">
          <h3>Become a Caregiver</h3>
          <br> <br>
          <p>
            Welcome to the Vinea Care team and thank you for choosing us. We believe in people and have a strong work
            ethic with a fun and welcoming work culture. Do you have a passion for others? To care and support for those
            who need a helping hand? We want to hear from you. Fill in our application form and our HR team will be in
            touch.
          </p>
          <br>
          <a class="cta-btn" href="/assets/files/Vinea Care Application and Screening Form 2023 v1.5.pdf">Application
            Form</a>
          <a class="cta-btn" href="mailto:careers@vineacare.com">Submit</a>
          <br> <br> <br>
          <small style="color: aliceblue;">*Please fill out the Application Form and send it over
            to<br>careers@vineacare.com</small>
        </div>

      </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-up">
            <div class="section-title">
              <h2>Contact</h2>
              <p>Might you be having an inquiry about our services? Perhaps you'd like to join us as one of our
                caregivers and would like further guidance. Feel free to email, call, or visit us and we'll be glad to
                help you however we can.</p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe style="border:0; width: 100%; height: 270px;"
              src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1482.468900146754!2d-0.216702780872543!3d51.89934611056701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s25%20Caxton%20point%2C%20Caxton%20Way%2C%20Stevenage%2C%20SG1%202XU!5e0!3m2!1sen!2ske!4v1675340299221!5m2!1sen!2ske"
              frameborder="0" allowfullscreen></iframe>
            <div class="info mt-4">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Vinea Care Limited, 25 Caxton point, Caxton Way, Stevenage, SG1 2XU</p>
            </div>

            <div class="row">
              <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="150">
                <div class="info">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p><a href="mailto:careers@vineacare.com">careers@vineacare.com </a> <br>Job Applications.</p>
                  <br>
                  <p><a href="mailto:Admin@vineacare.com">admin@vineacare.com</a> <br> Official Enquiries Only.</p>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="info w-100 mt-4">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p> <a href="tel:+447366313213"> +44 7366 313213</a></p>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include('partials/footer') %>